<!DOCTYPE html>
<html>
    <head>
        <title>TimeToAnswer</title>
    
         <%= csrf_meta_tags %>
         <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application'%>
        <%= javascript_pack_tag 'application'%>
    </head>
    <body>
  <h1> Users backoffice</h1>
    <%= yield %>
    </body>
</html>